* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", system-ui;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F9F7F3 ;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn{
    width: 110px;
    height: 49px;
    border-radius: 8px;
    background-color: #B4F461;
    font: bold;
  }
  .coin{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    max-width: 75%;
    margin: auto;
  }
  
  .container > p,
  .container > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .container > h1 {
    letter-spacing: 3px;
  }
  
  .qus {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .qus i {
    font-size: 1.6rem;
  }
  
  .active,
  .qus:hover {
    background-color: #f1f7f5;
  }
  .text {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
  }
  .text p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  .faq.active {
    border: none;
  }
  